

:root {
    /* TODO: how to prevent JetBrains from flagging the var when colour is defined in Mantine theme*/
    --mantine-color-soil-9: #844f29;}

footer, navbar {background-color:transparent !important}

header {background-color:#39ACCE !important}

.footer_icon {
margin-top: -0.5rem; /*TODO: fix in componment, shifted to avoid shadow clipping in footer */
width: auto;
height: 80%;
filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2)) }

.mobile_toolbar{

background-color: var(--mantine-color-soil-9) !important;
}

.softwhite{
background-color:rgba(255,255,255,0.8) !important;}